.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    background-color: #FFF1C9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .textarea, .fileInput, .button {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #FFF1C9;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .textarea {
    height: 150px;
    resize: vertical;
  }
  
  .button {
    background-color: #0070f3;
    color: #FFF1C9;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #FFF1C9;
  }
  
  .topResumes {
    margin-top: 2rem;
  }
  
  .topResumesHeading {
    text-align: center;
    color: #333;
  }
  
  .topResumesList {
    list-style-type: none;
    padding: 0;
  }
  
  .topResumesItem {
    background-color: #FFF1C9;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid #FFF1C9;
    border-radius: 4px;
  }
  
